# Python
__pycache__/
*.pyc
*.pyo
*.pyd
nlp_venv/
.env
.env.*
!.env.example
!**/.env.example
cache/
# Logs
*.log

# JSON secrets
*.json

# Credentials folder
credentials/
venv/
*.db
*.sqlite3

# Node.js
node_modules/
dist/

# VS Code
.vscode/

# Environment files in any folder
**/.env
**/.env.*
!**/.env.example
