# Python
__pycache__/
*.pyc
*.pyo
*.pyd
nlp_venv/
.env/
.env

# Logs
*.log

# JSON secrets
*.json

# Credentials folder
credentials/

# Node.js
node_modules/
dist/

# VS Code
.vscode/

# Environment files in any folder
**/.env
**/.env.*